/* FOLLOWING SECTION IS USER INPUT */

/* Button Styles are from https://codepen.io/azureknight/pen/DbrdeB?editors=0100 */

.linkbutton {
  width: 64px;
  height: 30px;
  background: #AC4931;
  cursor: pointer;
}
  
.popupTitle {
  float: left;
  width: 40px;
  height: 30px;
  text-align: center;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
  
&:hover {
color: #fff;
background: none;
}


.ease {
  width: 0;
  background: #282828;
  height: 30px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.linkbutton:hover .ease {
width: 100%;
}

.nohover:hover {
color: #000;
}

.buttonColor {background: #8a3a27;}

.show {
  display: block;
  transition: 800ms;
  opacity: 1;
}

.show.active {
  transform: translateY(100px) scale(0) rotateY(180deg);
  opacity: 0;
}